<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product Page</h1>

    <form action="/product" method="POST">
      <input type="text" placeholder="product name" name="product_name" />
      <input type="number" placeholder="Price" name="product_price" />
      <input type="number" placeholder="Quantity" name="product_quantity"/>
      <button type="submit">Create Product</button>
    </form>
</body>
</html>